<a href="https://colab.research.google.com/github/ranamaddy/Introduction-to-Coding-in-Pandas-Using-Python/blob/main/Lesson_4_Data_Analysis_and_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 4: Data Analysis and Transformation
- Aggregating and summarizing data using Pandas
- Grouping and grouping operations
- Applying functions to data (apply, map, applymap)
- Data transformation techniques (merging, joining, reshaping)
- Handling duplicates and outliers
- Introduction to descriptive statistics

Welcome to Lesson 4: Data Analysis and Transformation. In this lesson, we will explore various techniques for analyzing and transforming data using Pandas. Data analysis involves examining, summarizing, and drawing insights from data, while data transformation involves manipulating and reshaping the data to make it more suitable for analysis.

**Throughout this lesson, we will cover the following topics:**

- Descriptive Statistics: We will learn how to calculate and interpret descriptive statistics, such as measures of central tendency (mean, median, mode) and measures of variability (standard deviation, range). Descriptive statistics help us understand the characteristics and distribution of the data.

- Aggregation and Grouping: We will explore how to group data based on specific criteria and perform aggregations, such as calculating sums, averages, and counts within each group. Grouping data allows us to analyze subsets of the data and derive insights at different levels of granularity.

- Data Cleaning and Preprocessing: We will discuss techniques for handling missing data, dealing with duplicate values, and addressing outliers. Cleaning and preprocessing the data is essential to ensure the accuracy and integrity of the analysis.

- Data Transformation: We will cover various data transformation techniques, including reshaping data, pivoting tables, and melting data. These transformations help us restructure the data to make it more suitable for specific analytical tasks.

- Merging and Joining Data: We will learn how to combine multiple datasets based on common columns or indices. Merging and joining data allows us to integrate information from different sources and perform more comprehensive analysis.

- Handling Categorical Data: We will explore methods for handling categorical variables, including encoding categorical data, creating dummy variables, and performing one-hot encoding. Categorical variables require special treatment to make them usable in data analysis.

By the end of this lesson, you will have a solid foundation in data analysis and transformation using Pandas. You will be able to apply various techniques to gain insights from data, perform data cleaning and preprocessing, transform data structures, merge datasets, and handle categorical variables effectively.

Let's start with the first topic: Descriptive Statistics.

# Aggregating and summarizing data using Pandas

Let's explore how to aggregate and summarize data using Pandas, using the given dataset "data.csv" with attributes like Student ID, Class, Study hrs, Sleeping hrs, Social Media usage hrs, Mobile Games hrs, and Percentage.

Aggregating data involves grouping the dataset based on certain criteria and performing calculations on the grouped data. Pandas provides convenient methods to perform aggregation operations.

Here's an example of how to aggregate and summarize the data

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data.csv')

# Group the data by 'Class'
grouped_data = df.groupby('Class')

# Calculate the average study hours for each class
average_study_hours = grouped_data['Study hrs'].mean()

# Calculate the maximum percentage for each class
maximum_percentage = grouped_data['Percantege'].max()

# Calculate the total sleeping hours for each class
total_sleeping_hours = grouped_data['Sleeping hrs'].sum()

# Print the results
print("Average study hours by class:")
print(average_study_hours)
print("\nMaximum percentage by class:")
print(maximum_percentage)
print("\nTotal sleeping hours by class:")
print(total_sleeping_hours)

Average study hours by class:
Class
10    3.666667
11    2.000000
12    5.500000
Name: Study hrs, dtype: float64

Maximum percentage by class:
Class
10    80
11    96
12    90
Name: Percantege, dtype: int64

Total sleeping hours by class:
Class
10    25
11    24
12    29
Name: Sleeping hrs, dtype: int64

In this example, we first load the dataset using pd.**read_csv**() and assign it to the variable df. Next, we group the data by the '**Class**' column using groupby('**Class**'), creating a GroupBy object named grouped_data.

We then apply various aggregation functions to the grouped data. For example, we calculate the average study hours for each class by accessing the 'Study hrs' column of the grouped_data object and using the **mean**() function. Similarly, we calculate the maximum percentage and the total sleeping hours for each class using the **max**() and **sum**() functions, respectively.

Finally, we print the results to display the aggregated and summarized data.

Feel free to explore other aggregation functions such as **min**(), **count**(), **std**(), etc., to derive different insights from the data. Additionally, you can aggregate the data based on multiple columns by passing a list of column names to the **groupby**() function.

Aggregating and summarizing data helps us understand the characteristics and trends within different groups, providing valuable insights for analysis and decision-making.

# Grouping and grouping operations

Let's delve into grouping and grouping operations in Pandas, explaining it as if you were a beginner student.

Grouping is a fundamental concept in data analysis that allows us to divide the data into subsets based on specific criteria and perform calculations or operations on each group. Pandas provides powerful tools for grouping data and conducting operations on the grouped data.

**To group data in Pandas, we typically follow these steps:**


- Load the dataset: Begin by loading your dataset into a Pandas DataFrame using functions like pd.read_csv() for CSV files or pd.read_excel() for Excel files.

- Identify the grouping column(s): Determine the column(s) in your dataset that you want to use for grouping. These columns should contain categorical or qualitative data that define the groups.

- Group the data: Use the groupby() function on your DataFrame, passing the column(s) you identified as the grouping criterion. This creates a GroupBy object, which is a powerful tool for performing operations on the grouped data.

- Perform operations on the grouped data: Once you have the GroupBy object, you can apply various operations to the grouped data. Some commonly used operations include calculating summary statistics (e.g., mean, sum, count) using functions like mean(), sum(), or count(). You can also apply custom functions or methods to perform more complex calculations or transformations.

Here's an example to illustrate these steps:

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv('data.csv')

# Group the data by 'Class'
grouped_data = df.groupby('Class')

# Calculate the average study hours for each class
average_study_hours = grouped_data['Study hrs'].mean()

# Calculate the maximum percentage for each class
maximum_percentage = grouped_data['Percantege'].max()

# Calculate the total sleeping hours for each class
total_sleeping_hours = grouped_data['Sleeping hrs'].sum()

In this example, we load the dataset into a DataFrame named df. Then, we group the data by the 'Class' column using groupby('**Class**'), creating a GroupBy object called grouped_data.

Once we have the grouped data, we can apply various operations. For instance, we calculate the average study hours for each class by accessing the 'Study hrs' column of the grouped_data object and using the **mean**() function. Similarly, we calculate the maximum percentage and the total sleeping hours for each class using the **max**() and **sum**() functions, respectively.

Grouping operations allow us to analyze data at different levels of granularity, compare statistics across groups, and derive insights specific to each group. It helps in understanding patterns, trends, and distributions within different subsets of the data.

Remember that grouping is just the starting point, and you can combine grouping with other data manipulation and visualization techniques to gain deeper insights from your data.

# Applying functions to data (apply, map, applymap)

 Let's explore the functions apply(), map(), and applymap() in Pandas, explaining them in a beginner-friendly manner.

1. apply(): The apply() function in Pandas allows you to apply a function to each element, row, or column of a DataFrame. It is a versatile function that enables you to perform custom operations on your data.
Applying a function to each element: You can use apply() on a Series or DataFrame to apply a function to each individual element. This is useful when you need to perform element-wise calculations or transformations.

2. Applying a function to each row or column: By specifying the axis parameter, you can apply a function to each row (axis=0) or column (axis=1) of a DataFrame. This allows you to perform row-wise or column-wise operations.

2. map(): The map() function in Pandas is primarily used to substitute values in a Series or DataFrame based on a defined mapping or dictionary.
3. Mapping values in a Series: You can use map() on a Series to replace specific values with new values based on a defined mapping. This is useful when you want to perform value substitutions or convert categorical data into numerical representations.
3. applymap(): The applymap() function is similar to map(), but it operates element-wise on an entire DataFrame, rather than a single Series.
- Applying a function element-wise to a DataFrame: applymap() allows you to apply a function to each element of a DataFrame, resulting in a new DataFrame with the transformed values. This function is useful when you need to perform element-wise operations across the entire DataFrame.

Here's an example that demonstrates these functions:

In [9]:
import pandas as pd

# Load the dataset from data.csv
df = pd.read_csv('data.csv')

# Example of apply()
# Applying a function to each element
df['Study hrs squared'] = df['Study hrs'].apply(lambda x: x ** 2)

# Applying a function to each row or column
df['Total hrs'] = df[['Study hrs', 'Sleeping hrs']].apply(sum, axis=1)

# Example of map()
# Mapping values in a Series
grade_mapping = {'A': 'Excellent', 'B': 'Good', 'C': 'Average'}
df['Grade'] = df['Class'].map(grade_mapping)

# Example of applymap()
# Applying a function element-wise to a DataFrame
df_numeric = df.select_dtypes(include='number')
#df_numeric_avg = df_numeric.applymap(lambda x: x.mean())

# Print the modified DataFrame
print(df)
#print(df_numeric_avg)

   Student ID  Class  Study hrs  Sleeping hrs  Social Media usage hrs  \
0        1001     10        2.0             9                     3.0
1        1002     10        6.0             8                     2.0
2        1003     10        3.0             8                     2.0
3        1004     11        0.0            10                     1.0
4        1005     11        4.0             7                     NaN
5        1006     11        NaN             7                     0.0
6        1007     12        4.0             6                     0.0
7        1008     12       10.0             6                     2.0
8        1009     12        2.0             8                     2.0
9        1010     12        6.0             9                     1.0

   Mobile Games hrs  Percantege  Study hrs squared  Total hrs Grade
0               5.0          50                4.0       11.0   NaN
1               0.0          80               36.0       14.0   NaN
2               NaN          60                9.0       11.0   NaN
3               5.0          45                0.0       10.0   NaN
4               0.0          75               16.0       11.0   NaN
5               0.0          96                NaN        NaN   NaN
6               0.0          80               16.0       10.0   NaN
7               0.0          90              100.0       16.0   NaN
8               4.0          60                4.0       10.0   NaN
9               0.0          85               36.0       15.0   NaN

In this code snippet, we first import the Pandas library and load the dataset "data.csv" using the **read_csv**() function, storing it in the DataFrame df.

We then demonstrate the use of **apply**(), where we apply a lambda function to calculate the square of each "**Study** **hrs**" value and assign it to a new column called "**Study hrs squared**". We also apply the **sum**() function to calculate the total hours spent studying and sleeping for each student, storing the result in a new column called "Total hrs".

Next, we showcase the **map**() function by mapping the "Class" values to corresponding "Grade" values using a mapping dictionary. The mapped values are stored in a new column called "Grade".

Finally, we use **applymap**() to apply a lambda function element-wise to the numerical columns of the DataFrame. We select the numerical columns using **select_dtypes**() and then calculate the average of each column, storing the results in the DataFrame **df_numeric_avg**.

These examples demonstrate how to use apply(), map(), and applymap() to perform various operations on the dataset, allowing you to apply functions to the data in different ways based on your analysis requirements.

# Data transformation techniques (merging, joining, reshaping)

 Let's explain data transformation techniques like merging, joining, and reshaping in a beginner-friendly manner

1. **Merging DataFrames:**

 - Merging combines two or more DataFrames based on a common column or index. It is useful when you want to combine datasets that share a common key.
 - There are different types of merges, such as inner merge, left merge, right merge, and outer merge, depending on which records you want to include in the resulting DataFrame.
 - Example: Merging two DataFrames based on a common column 'Student ID':

In [11]:
df1=df2=df
merged_df = df1.merge(df2, on='Student ID', how='inner')

2. **Joining DataFrames:**

 - Joining is similar to merging but is based on the index rather than a specific column. It combines DataFrames based on their index values.
 - Example: Joining two DataFrames based on the index:

In [12]:
joined_df = df1.join(df2, lsuffix='_left', rsuffix='_right')

3. **Reshaping DataFrames:**

 - Reshaping involves transforming the structure of the DataFrame to make it more suitable for analysis or visualization.
 - Common reshaping techniques include pivoting, melting, and stacking/unstacking.
 - Pivoting: Reshapes the DataFrame by converting unique values from one column into new columns.

In [15]:
pivoted_df = df.pivot(index='Student ID', columns='Class', values='Percantege')

 - Melting: Unpivots a DataFrame, converting multiple columns into a single column and creating corresponding value columns.

In [16]:
melted_df = pd.melt(df, id_vars='Student ID', value_vars=['Study hrs', 'Sleeping hrs'], var_name='Activity', value_name='Hours')

 - Stacking/Unstacking: Stacking combines multiple columns into a single column, while unstacking splits a column into multiple columns.

In [19]:
stacked_df = df.stack()
unstacked_df = df.unstack()
df

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege,Study hrs squared,Total hrs,Grade
0,1001,10,2.0,9,3.0,5.0,50,4.0,11.0,NaN
1,1002,10,6.0,8,2.0,0.0,80,36.0,14.0,NaN
2,1003,10,3.0,8,2.0,NaN,60,9.0,11.0,NaN
3,1004,11,0.0,10,1.0,5.0,45,0.0,10.0,NaN
4,1005,11,4.0,7,NaN,0.0,75,16.0,11.0,NaN
5,1006,11,NaN,7,0.0,0.0,96,NaN,NaN,NaN
6,1007,12,4.0,6,0.0,0.0,80,16.0,10.0,NaN
7,1008,12,10.0,6,2.0,0.0,90,100.0,16.0,NaN
8,1009,12,2.0,8,2.0,4.0,60,4.0,10.0,NaN
9,1010,12,6.0,9,1.0,0.0,85,36.0,15.0,NaN

These data transformation techniques allow you to reshape and combine datasets to derive meaningful insights. By using merging and joining, you can bring together related information from multiple datasets. Reshaping techniques help you restructure the data to facilitate analysis or create summary statistics.

Remember to replace **df1, df2,** and other variable names with the actual names of your DataFrames when applying these techniques to your specific datasets.

# Handling duplicates and outliers

Let's explain how to handle duplicates and outliers in a beginner-friendly manner

1. **Handling Duplicates:**

 - Duplicates refer to rows in a DataFrame that have identical values across all or selected columns.
 - Identifying duplicates: You can use the duplicated() function to check for duplicate rows in a DataFrame. The function returns a Boolean Series indicating which rows are duplicates.

In [20]:
duplicates = df.duplicated()

- Removing duplicates: To remove duplicate rows from a DataFrame, you can use the drop_duplicates() function. By default, it keeps the first occurrence of each duplicate row and removes the subsequent duplicates.

In [21]:
df_no_duplicates = df.drop_duplicates()

2. **Handling Outliers:**

 - Outliers are extreme values in a dataset that significantly deviate from the majority of the data points. Outliers can negatively impact data analysis and modeling.
 - Identifying outliers: One common approach is to use statistical measures like the z-score or interquartile range (IQR) to detect outliers. Points that fall outside a certain threshold can be considered outliers.
 - Removing outliers: Depending on the situation, outliers can be removed or treated differently. One approach is to use filtering based on z-scores or IQR to exclude outliers from the analysis.

In [27]:
# Example: Removing outliers based on z-score
z_scores = (df['Study hrs'] - df['Mobile Games hrs'].mean()) / df['Sleeping hrs'].std()
df_no_outliers = df[z_scores < 3]  # Exclude data points with z-score > 3
z_scores

0    0.337580
1    3.375798
2    1.097134
3   -1.181529
4    1.856689
5         NaN
6    1.856689
7    6.414016
8    0.337580
9    3.375798
Name: Study hrs, dtype: float64

It's important to note that the approach for handling duplicates and outliers may vary depending on the specific dataset and analysis goals. Consider the context and the impact of removing or treating duplicates/outliers on your analysis results.

Remember to replace df and 'Column' with the actual variable name of your DataFrame and the column name you want to analyze for duplicates/outliers.

Handling duplicates and outliers helps ensure data quality and reliability in your analysis. By removing duplicates, you avoid counting redundant data points, and by identifying and handling outliers, you ensure more accurate and representative analysis results.

# Introduction to descriptive statistics

Descriptive statistics provides a way to summarize and describe the main characteristics of a dataset. It helps us understand the basic features of the data and gain insights into its distribution, central tendency, variability, and other important properties. Here's an introduction to descriptive statistics:

1. **Measures of Central Tendency:**

 - **Central** tendency measures help us understand the typical or central value around which the data tends to cluster.
 - **Mean**: The arithmetic average of the data points. It is calculated by summing all the values and dividing by the number of observations.
 - **Median**: The middle value in a dataset when it is sorted in ascending or descending order. It divides the data into two equal halves.
 - **Mode**: The value that occurs most frequently in the dataset.

2. **Measures of Variability:**

 - **Variability** measures quantify the spread or dispersion of the data points and provide insights into how much the data values deviate from the central tendency.
 - **Range**: The difference between the maximum and minimum values in the dataset.
 - **Variance**: The average of the squared differences between each data point and the mean. It indicates the average variability of the data.
 - **Standard Deviation**: The square root of the variance. It measures the dispersion of the data around the mean.

3. **Distribution Characteristics:**

 - **Skewness**: Measures the asymmetry of the data distribution. A positive skew indicates a longer tail on the right side, while a negative skew indicates a longer tail on the left side.
 - **Kurtosis**: Measures the shape of the distribution's tails. It indicates whether the distribution is more peaked or flatter than a normal distribution.

4. **Percentiles**:

 - **Percentiles** divide the data into equal parts based on their rank or position.
 - **Median** (50th percentile) divides the data into two equal halves.
 - **Quartiles** (25th and 75th percentiles) divide the data into four equal parts, providing insights into the lower and upper halves of the dataset

 Descriptive statistics provides a concise summary of the dataset, allowing us to understand its key characteristics without diving into detailed analysis. These measures serve as a foundation for further analysis and decision-making in various fields, including research, business, and data science.

**Let's consider your dataset** with the attributes: Student ID, Class, Study hrs, Sleeping hrs, Social Media usage hrs, Mobile Games hrs, Percentage. Here's an example of how you can compute some descriptive statistics using Pandas:

In [30]:
import pandas as pd

# Read the dataset into a DataFrame
df = pd.read_csv('data.csv')

# Compute the measures of central tendency
mean_percentage = df['Percantege'].mean()
median_percentage = df['Percantege'].median()
mode_class = df['Class'].mode()[0]

# Compute the measures of variability
data_range = df['Percantege'].max() - df['Percantege'].min()
variance_percentage = df['Percantege'].var()
std_deviation_percentage = df['Percantege'].std()

# Compute skewness and kurtosis
skewness = df['Percantege'].skew()
kurtosis = df['Percantege'].kurt()

# Compute percentiles
percentile_25 = df['Percantege'].quantile(0.25)
percentile_75 = df['Percantege'].quantile(0.75)

# Print the computed statistics
print(f"Mean Percentage: {mean_percentage}")
print(f"Median Percentage: {median_percentage}")
print(f"Mode Class: {mode_class}")
print(f"Range of Percentage: {data_range}")
print(f"Variance of Percentage: {variance_percentage}")
print(f"Standard Deviation of Percentage: {std_deviation_percentage}")
print(f"Skewness of Percentage: {skewness}")
print(f"Kurtosis of Percentage: {kurtosis}")
print(f"25th Percentile: {percentile_25}")
print(f"75th Percentile: {percentile_75}")

Mean Percentage: 72.1
Median Percentage: 77.5
Mode Class: 12
Range of Percentage: 51
Variance of Percentage: 300.76666666666665
Standard Deviation of Percentage: 17.342625714310582
Skewness of Percentage: -0.31140540519941884
Kurtosis of Percentage: -1.2383174436662463
25th Percentile: 60.0
75th Percentile: 83.75

In this example, we read the dataset from the 'data.csv' file into a DataFrame. Then, we compute various descriptive statistics using Pandas functions. Finally, we print the computed statistics.

Please ensure that you have the 'data.csv' file in the correct location or update the file path accordingly in the code.